@import "tailwindcss" prefix(df);

:root {
    --primary: #023047;
    --primary-hover: #012636;
    --primary-foreground: #FFFFFF;
    --primary-surface: #02304726;
    --secondary: #FB8500;
    --secondary-hover:#E07A00;
    --secondary-foreground: #FFFFFF;
    --secondary-surface: #fb850026;
}

@theme {
    --color-border: #e2e8f0;
    --color-text: #2C2C2C;
    --color-muted: #64748b;
    --color-card: #FFFFFF;
}